.body {
  background-color: gray;
  margin-left: 40vh;
}

.html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}
.menu {
  background-color: white;
  left: 0;
  bottom: 0;
<<<<<<< Updated upstream
  top:0;
  position: fixed;
=======
  top: 10vh;

>>>>>>> Stashed changes
  width: 37vh;
  font-family: Arial;
}

.management {
  margin-left: 4vh;
  display: flex;
  margin-bottom: 1vh;
}

.management img {
  height: 3vh;
}

.info-management {
  margin-left: 1.5vh;
  font-weight: bold;
  color: rgb(127, 187, 243);
  font-size: 1.2rem;
}

.main-menu {
  margin-left: 1vh;
}
.main-menu img {
  height: 0.9vh;
  margin-right: 1vh;
  margin-top: 0.75vh;
}

.elements {
  margin-left: 8vh;
  display: flex;
  margin-top: 1vh;
  color: rgb(125, 123, 123);
  font-size: 1.0rem;
  transition: color 0.3s;
}

.elements:hover {
  color: orange;
  cursor: pointer;
}

.menu-profile {
  display: grid;
  grid-template-columns: 8vh 1fr;
  margin-top: 4vh;
  margin-left: 3vh;
  margin-bottom: 3vh;
}

.profile-photo {
  cursor: pointer;
  width: 100%;
  border-radius: 3.75vh;
}

.photo {
  width: 7.5vh;
}

.profile-overview {
  width: 20vh;
  margin-left: 2.5vh;
  margin-top: 0.65vh;
  cursor: pointer;
}

.admin {
  font-size: 1.8rem;
  font-weight: bold;
}

.admin-email {
  font-size: 1.0rem;
  color: rgb(125, 123, 123);
}

.copyright {
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  color: rgb(125, 123, 123);
  font-size: 1.0rem;
}