/* Below 1369px (Smaller desktop) */

@media (max-width: 85em) {
    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 1.4rem;
    }

    .main-header,
    .sub-header {
        padding: 0 10rem;
    }
}

/* Below 1215px */
@media (max-width: 76em) {
    html {
        font-size: 52.5%;
    }

    .main-header,
    .sub-header {
        padding: 0 5rem;
    }
}

/* Below 990px */

@media (max-width: 62em) {
    .check-btn {
        display: block;
        position: absolute;
        right: 3rem;
    }

    .main-nav-list {
        background-color: rgba(255, 255, 255, 0.89);
        position: fixed;
        top: 107px;;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: all 0.5s;

        display: block;
        text-align: center;
    }

    #check:checked ~ .main-nav ul {
        left: 0;
    }
    
    .main-nav-list li {
        display: block;
        margin: 2rem 0;
        font-size: 4rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
        color: black;
    }

    .main-nav-link:hover {
        color: #d61c62;
    }

    #slider .about-heading, #homepage-content .content-title {
        font-size: 2.4rem;
    }

    #homepage-content .group-name, #homepage-content .content-button {
        font-size: 1.4rem;
    }

    #homepage-content .content-button {
        padding: 10px;
    }

    #slider .about-des, #homepage-content .group-text {
        font-size: 1.2rem;
    }
    

    #slider .about-btn {
        font-size: 1rem;
    }

    #footer {
        padding: 0 4rem;
    }
}