* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.sub-header {
  height: 42px;
  background-color: #fff;
  padding: 0 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-header .location {
  display: inline-block;
  color: #697582;
}

.sub-header .icon {
  color: #FF6701 !important;
  display: inline-block;
  font-size: 16px;
}

.sub-header .text-location {
  display: inline-block;
  padding: 0 4px;
}

.main-header li,
.sub-header li,
#footer li {
  display: inline-block;
}

.sub-header li a {
  color: #697582;
}

.sub-header li a:first-child {
  padding: 0 28px;
}

.sub-header .icon-nav a {
  padding-left: 4px;
}

.main-header {
  background-color: #FEA82F;
  height: 86px;
  padding: 0 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .logo-img {
  margin-top: -10px;
}

.main-header li a {
  text-decoration: none;
  padding: 0 10px;
  color: #FEF8F8;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
}



#slider .about-content {
  color: #fff;
  width: 560px;
  position: absolute;
  top: 40%;
  margin-left: 10%;
  line-height: 1.8;
}

#slider .about-heading {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
}

#slider .about-des {
  margin-bottom: 12px;
  font-size: 16px;
}

#slider .about-btn {
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
}

.sub-header li a:hover,
.main-header li a:hover,
#footer .icon-apps a:hover,
#slider .about-content a:hover {
  color: #d61c62;
}

#footer {
  background-color: #FEA82F;
  height: 64px;
  padding: 0 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .org-name {
  display: inline-block;
  color: #fff;
}

#footer .icon-apps a {
  text-decoration: none;
  color: #fff;
  padding: 0 12px;
  font-weight: 600;
  font-size: 28px;
}



